{{template "header"}}
<body>

    {{template "menu"}}

    <form action="/save/{{.Filename}}" method="POST">    
        <textarea style="display:none" id="contentCopy" name="JSONText"></textarea>
        <input type="submit" value="Save" style="font-size: 40px" />
    </form>
    <br>

    <div id="editor" style="width: 50%; height: 90%;"></div>
    <script>
        var editor = ace.edit ("editor");
        editor.setTheme ("ace/theme/monokai");
        editor.session.setMode ("ace/mode/javascript");
        var config = JSON.parse ("{{.JSONText}}")
        editor.setValue (JSON.stringify (config, null, 4), -1);
        editor.setFontSize(20);
        editor.on ("change", updateText)

        function updateText () {
            var txt = editor.getSession().getValue();
            editor.getSession().setNewLineMode ("unix")
            console.log ("text ength was:\n"+ txt);
            document.getElementById ("contentCopy").innerText = txt; // txt has \n, but does not have \r.. 
        }
        /*
        var container = document.getElementById("editor");
        var options = { onChange: updateText};
        var editor = new JSONEditor(container, options);

        function updateText () {
            var txt = editor.getText();
            console.log ("text ength was:\n"+ txt);
            console.log ("text length was: "+ txt.length);
            document.getElementById ("contentCopy").innerText = txt;
        }
        // set json
        var json = {{.JSONText}};
        editor.set(json);

        // get json
        //var json = editor.get();
        */
    </script>
</body>
</html>