<!DOCTYPE HTML>
<html>
<head>
    <!-- when using the mode "code", it's important to specify charset utf-8 -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    <link href="/static/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <link href="/static/menu.css" rel="stylesheet" type="text/css">
    <script src="/static/jsoneditor.min.js"></script>
</head>
<body>
    <div id="menu-outer">
        <div class="table">
            <ul id="horizontal-list">
            <li><a href="/list/"><img src="/static/img/config.png" alt="Configurations" title="Configurations"/></a></li>
            <li><a href="/files/"><img src="/static/img/up-download.png" alt="Upload/Download" title="Upload/Download"/></a></li>
            <li><a href="/wifi/"><img src="/static/img/wifi.png" alt="WIFI Setup" title="WIFI Setup"/></a></li>
            <li><a href="/reboot/" onclick="return confirm ('!!Reboot: Are you sure?')"><img src="/static/img/reboot.png"  alt="Reboot" title="Reboot" /> </a></li>
            </ul>
        </div>
    </div>
    <hr>

    <form action="/save/{{.Filename}}" method="POST">    
        <textarea style="display:none" id="contentCopy" name="JSONText"></textarea>
        <input type="submit" value="Save" style="font-size: 40px" />
    </form>
    <br>

    <div id="jsoneditor" style="width: 50%; height: 90%;"></div>
    <script>
        // create the editor
        var container = document.getElementById("jsoneditor");
        var options = { onChange: updateText};
        var editor = new JSONEditor(container, options);

        function updateText () {
            var txt = editor.getText()
            document.getElementById ("contentCopy").innerText = txt
        }
        // set json
        var json = {{.JSONText}};
        editor.set(json);

        // get json
        //var json = editor.get();
    </script>
</body>
</html>