{{template "header"}}
<body>
    {{template "menu"}}

    <h2> Available On-Board Configurations:</h2>
    <div >
            <table style="width:400px">
                <tr>
                <th align="left">Config Filename</th>
                <th align="left">Action</th>
            </tr>
        {{range .}} 

            <tr>
                <td>
                    <a href="/edit/{{.Filename}}"> {{- .Filename -}}</a> 
                </td>
                <td>
                 <a href="/activate/{{.Filename}}">Activate</a>
                 </td>
                </tr>
        {{end}}
        </table>

    </div>
</body>
</html>