{{template "header"}}
<body>
    {{template "menu"}}
    {{ if .Message }} 
    <h2 style="color:green">CVDP says: {{.Message}}. </h2>
    {{end}}

    <div>The content of {{.Filename}} is as follows </div> 
    <pre id="content">
        {{.JSONText}}
    </pre>
</body>
<script> 
    var config = JSON.parse ("{{.JSONText}}")
    function showJSON  () {
        document.getElementById("content").innerHTML = JSON.stringify(config, null, 4);
    }
    showJSON();
    //window.addEventListener ("onload", showJSON());
</script>
</html>