<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link href="/static/menu.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div id="menu-outer">
        <div class="table">
            <ul id="horizontal-list">
            <li><a href="/list/"><img src="/static/img/config.png" alt="Configurations" title="Configurations"/></a></li>
            <li><a href="/files/"><img src="/static/img/up-download.png" alt="Upload/Download" title="Upload/Download"/></a></li>
            <li><a href="/wifi/"><img src="/static/img/wifi.png" alt="WIFI Setup" title="WIFI Setup"/></a></li>
            <li><a href="/reboot/" onclick="return confirm ('!!Reboot: Are you sure?')"><img src="/static/img/reboot.png"  alt="Reboot" title="Reboot" /> </a></li>
            </ul>
        </div>
    </div>
    <hr>

    {{ if .Message }} 
    <h2 style="color:green">CVDP says: {{.Message}}. </h2>
    {{end}}

    <div>The content of {{.Filename}} is as follows </div> 
    <pre>
{{.JSONText}}
    </pre>
</body>
</html>